@viewport{
    zoom: 1.0;
    width: device-width;
}
@font-face {
    font-family: 'Cabin-Regular';
    src: url(../fonts/Cabin-Regular.ttf);
}
@font-face {
    font-family: 'Cabin-Medium';
    src: url(../fonts/Cabin-Medium.otf);
}
body{width:100%; font-family: 'Cabin-Regular'; font-size: 14px;margin: 0 auto;min-height: 100%;
    font-weight: 300;}
.fixed-body{max-width:1366px;}
.logo{
    background-image: url('../img/header-inicio-promocon.jpg');min-width: 100%;
    background-repeat: no-repeat; background-position: center;background-color: #0f2b43 ;
    text-align: center;padding: 27px 0;}
.logo-aux{text-align: center;padding: 15px 0;}
.contacto{background-image: url('../img/contacto/header-promocon-contacto.jpg'); min-width: 100%; min-height: 300px;
    background-repeat: no-repeat; background-position: center;background-color: #0f2b43;
    position: relative;
}
.nosotros{background-image: url('../img/nosotros/header-promocon-nosotros.jpg'); min-width: 100%; min-height: 300px;
    background-repeat: no-repeat; background-position: center;background-color: #0f2b43 ;
    position: relative;
} 
.servicios{background-image: url('../img/servicios/header-promocon-servicios.jpg'); min-width: 100%; min-height: 300px;
    background-repeat: no-repeat; background-position: center;background-color: #0f2b43;
    position: relative;
}
.proyectos{background-image: url('../img/proyectos/header-promocon-proyectos.jpg'); min-width: 100%; min-height: 300px;
    background-repeat: no-repeat; background-position: center;background-color: #0f2b43;
    position: relative;
} 
.envoltorio{position: absolute;width: 100%;z-index:100;margin-top: -25px;}
.alternate-menu{position: relative;text-transform: uppercase;font-size: 0.8em;}
.alternate-menu li{padding: 15px 20px;background-color: #f7f7f7;font-size: 1.15em;}
.alternate-menu a{color: #0f2b43 ;}
.linea-l{border-left: 1px solid #a1a7af;}
.linea-r{border-right: 1px solid #a1a7af;}  
.main-menu{position:absolute;z-index: 10;left: 49%; -webkit-transform: translateX(-50%);
     transform: translateX(-50%);margin-left: -18px;text-transform: uppercase;top: 11.5%;}
.main-menu ul{list-style-type: none;display: inline-flex;}
.main-menu li{background-color: #f7f7f7;padding: 15px;}
.main-menu li a {color: #0f2b43 ;text-align: center;padding: 16px;text-decoration: none;}
.linea{border-right: 1px solid #a1a7af; max-height: 90%; margin: auto 0;}
.up-page{background: #0f2b43 ;text-align: center;}
.shadow-font{color:#0f2b43 ; text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-size: 1.1em;}
.indicators{margin-top: -22px;}
.uno{background-color: #fff;text-align: center; color: #0f2b43 ;font-size: 1.4em;
    padding-bottom: 40px;padding-top: 40px;margin:0 auto;max-width: 850px;}
.uno h1{color: #da1929; font-size: 1.6em;padding: 30px 0; font-weight: bold;}
.uno h2{color:#0f2b43 ; font-size: 1.4em;}
.uno h3{color: #da1929; font-size: 2.9em;font-weight: bold;margin-bottom: -10px;}
.uno strong{color:#da1929}
.uno span {color: #da1929;}
.little-modal{background-color: #da1929; color: #fff;padding-top: 15px;}
.little-modal p{font-size: 1em;padding-left: 20px;padding-bottom:10px; }
._01{border:1px solid #bebebe;padding:0;border-radius: 10px;margin-bottom: 20px; background: white;max-width: 408px;}
._01 h3{color: #da1929; font-size: 1.3em;text-align: left;padding:15px 0 0 20px;line-height: 20px;line-height: 26px;}
._01 p {text-align: justify;padding:10px 20px;font-size: 0.89em;}
._02{display:flex;border:1px solid #bebebe;padding:0;border-radius: 10px;margin-bottom: 20px;background-color: #fff;min-height: 84%;max-width: 210px;}
._02 h3{color: #da1929; font-size: 1.02em;text-align: left;padding:15px 0 0 10px;font-weight: bold;}
._02 p {text-align: left;padding:0 20px;}
.red-box{background: #da1929;border-radius: 7px;padding: 10px}
.red-box img{width: 28px;}
.red-box-int{background: #da1929;border-radius: 7px;padding: 4px;height: 60%;margin-right: -1px;margin-top: -1px;}
.red-box-int img{width: 28px;float: right;}
.dos{background-color: #109600;color:#fff;padding-bottom: 40px;}
.dos p{padding: 13px 0;font-size: 1.21em}
.dos figcaption{font-size: 0.85em;max-width: 90%; margin-left: 30px; margin-top: 16px; }
.colibri{background-image: url(../img/colibri-promocon.png);background-position: left;background-repeat: no-repeat;background-size: cover; min-height: 100%;}
.green-aux{background-color:#357302;border-radius: 5px;padding: 10px; margin-top: -10px; width: 531px;}
.green-aux p{text-align: left;font-size: 0.8em;background-color:rgba(44,61,77,0.9);
    background-color: rgba(0,0,0,0.5); min-width: 95%;padding: 10px;top: 10px;left: 14px;}
.green-aux img{max-width: 100%;padding: 10px;}
.titulo{padding-top: 20px;text-align: center;padding-bottom: 20px;}
.titulo-img{padding-top: 20px;padding-bottom: 20px;text-align: left;}
.titulo-img h1{font-size: 1.5em;display: inline-block;padding-top: 5%;}
.titulo-img img{vertical-align: middle;display:inline-block; padding-left: 50px;}
.tres{padding: 20px 0;}
.tres h1{color: #da1929; font-size: 2.2em;padding-top: 5px;padding-right: 10px;padding-bottom: 20px;padding-left: 10px;font-weight: bold;}
.tres span{color:#0f2b43 ; font-size: 0.45em; margin: auto;padding-left: 10px;vertical-align: middle;font-weight: lighter;}
.tres h3{color:#da1929;font-size: 1.3em;}
.tres p{color: #6b6b6b;font-size: 1.15em;}
.cuatro{text-align: left;background: url('../img/textura-logo-promocon-628.png')no-repeat center,#f8f8f8;padding-bottom: 50px;}
.small-gallery{max-width: 100%;text-align: center;}
.small-gallery img {padding: 5px; max-width: 100%;}
.cinco p{text-align: center;max-width: 50%;margin: auto;font-size: 1.25em}
.cinco h1{text-align:center;color: #da1929;font-size: 2.3em;padding: 25px 10px;font-weight: bold; }
.cinco h3{font-size: 1.2em;color:#da1929;text-decoration: underline; text-align: center;}
.aux-box-5{border: 1px solid #dedede;max-width:55%;margin: auto;padding-bottom: 10px}
.aux-box-5 h1{color: #0f2b43 ; font-style: italic;font-size: 1.6em;font-weight: lighter;}
.aux-box-5 ul {list-style: none; padding:0; margin:0;font-size: 1.2em;}
.aux-box-5 li { padding-left: 1em; text-indent: -.7em;line-height: 20px;padding-bottom: 15px;}
.aux-box-5 li:before {content: "▪"; color: red; }
.sub-box {margin: 0 auto;text-align: center;max-width: 40%;border-left: 1px solid #ff7900;
    border-right: 1px solid #ff7900; border-bottom: 1px solid #ff7900;min-height: 60px;}
.sub-img {margin-top:-50px;text-align: center;margin-bottom: 20px;}
.seis{background:#0f2b43  url('../img/servicios/textura-logo-promocon-558.png') center no-repeat;text-align: -webkit-center;
    text-align: -moz-center;}
.seis h1{text-align: center;color: #fff;font-size: 2.0em;padding: 20px;font-weight: bold;}
.siete{text-align: center;}
.siete h1{color: #da1929; font-size: 2.2em;padding: 25px 10px; font-weight: bold;text-align: center;}
.siete img{width: 100%;margin: auto;max-width: 191px;}
.form-presentation{font-family:'Cabin-Regular';padding: 10px 0 50px; max-width: 100%; margin: 0 auto;color:#6b6b6b;
     background: url('../img/textura-logo-promocon-771-izquierda.png') -75% no-repeat,
      url('../img/textura-logo-promocon-771-derecha.png') 175% no-repeat,#f8f8f8}
.form-presentation input{width: 100%;padding: 5px;margin: 5px;border-radius: 0px; border: 1px solid #bebebe}
.form-presentation textarea{width: 100%;padding: 5px;margin: 5px;border-radius: 0px; border: 1px solid #bebebe}
.contact-data{color:#0f2b43 ;line-height: 10px;text-align: left;padding: 20px 0 30px 35%; font-weight: bold;}
.contact-data p{margin-bottom: 0;}
.contact-data img{border-right:2px solid #da1929; padding-right: 10px; }
.contact-data span{padding-left: 10px;vertical-align: super;}
.contact-data-sub{color:#0f2b43 ;line-height: 10px;text-align: left;padding: 30px 0 30px 0; }
.contact-data-sub h1{color:#da1929;font-size: 1.2em;line-height: 16px;}
.contact-data-sub h2{color:#bebebe;font-size: 1.4em;border-bottom: 1px solid #da1929;padding-bottom: 10px;max-width: 70%}
.contact-data-sub h3{color:#da1929;font-size: 0.9em;line-height: 15px;padding-top: 5px;padding-bottom: 15px;}
.contact-data-sub p{margin-bottom: 0;}
.contact-data-sub img{border-right:2px solid #da1929; padding-right: 10px; }
.contact-data-sub span{padding-left: 10px;vertical-align: super;}
.separador{max-width: 100%;padding-bottom: 25px;}
.separador img {max-width: 100%;}
.btn-gn{max-width: 138px;border: none !important;border-radius: 5px !important;
    padding: 14px !important;font-size: 0.85em}
.btn-red{color:#ffffff;background-color: #da1929;text-decoration: none !important;}
.btn-small{font-size: 0.7em}
.red-square{border: 2px solid #da1929;}
.red-square img{position: relative;left: -20px;top: 20px;}
.separador-top{margin-top:20px;}
.separador-bottom{margin-bottom:20px;}
.main-footer{text-align: center;background-color:#0f2b43 ;width: 100%;padding-top: 15px;padding-bottom: 15px;}
.main-footer ul{list-style-type: none;display: inline-flex;}
.main-footer ul li{color: #fff;}
.main-footer ul li a{text-decoration: none; color: #fff;padding: 5px}
.up-footer{font-size:1.1em;margin-bottom: 0px;}
.sub-footer{font-size: 0.9em;}

/* NOSOTROS */
.h1-green{color: #109600;padding-bottom: 65px;padding-top: 45px;}
.h1-green h1{font-size: 2.2em;font-weight: bold;}
.uno-sub{min-width: 100%;padding-bottom: 6%; padding-top: 6%;}
.titulo-dos{padding-top: 30px;text-align: left;padding-bottom: 20px;}
.titulo-dos h1{font-weight: bold;}
.tab-aux{text-align: center;}
.tab-aux p{font-size: 1.1em; font-family: 'Cabin-Regular'; text-align: left;color: #0f2b43 ; margin-right: 70px;margin-top: 15px;}
.tab-aux li{min-width: 20%;}
.nav-tabs {border-bottom: none;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {border-top: none;border-left: none;
border-bottom: 2px solid #da1929; border-right: none;min-height: 117px;}
.aux-box-us{margin: auto;padding-bottom: 10px; text-align: left;font-size: 1em;}
.aux-box-us ul {list-style: none; padding:0; margin:0;font-size: 1.1em;}
.aux-box-us li { padding-left: 1em; text-indent: -.7em;}
.aux-box-us li:before {content: "▪"; color: red; }
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {color: #da1929;line-height: 20px;}
.nav-tabs .nav-link {color: #a1a7af;font-size: 0.9em;line-height: 20px;}
.nav-tabs .nav-link img {color: #a1a7af;}
.cuatro-sub{background: #f8f8f8;padding-bottom: 40px;padding-top: 40px;
    max-width: 850px;margin: 0 auto;min-width: 100%;}
.list-us{padding-bottom: 15px;    padding-left: 7%;}    
.list-us ul{list-style-type: none; padding: 0; overflow: hidden;}
.list-us li{float: left;font-size: 1.9em;letter-spacing: 2px;}
.list-us li a{color: #676662; text-align: center; padding: 16px;text-decoration: none;font-weight: bold; font-size: 1.1em;}
.list-us li a:active{color: #da1929;}
.list-us li a:focus{color: #da1929;}
.border-aux{border-right:1px solid #da1929;}
.card {border-top: none;border-left: none;border-right: none;border-bottom: 1px solid #da1929;
border-radius: 0;color: #0f2b43; max-width: 80%;}
.card a{color:#0f2b43 ;}
.card-header {background: white; border-bottom: none;font-weight: bold;}
.card-body {padding-top: 0;font-size: 1.05em;}
.tab-content{padding-top: 50px;}

/* PROYECTOS*/
.portafolio{padding-top: 20px;}
.main-select{color:#da1929;font-size: 1.8em;}
.seleccionador{text-align: left;padding-bottom: 20px;}
.seleccionador ul{list-style-type: none; padding: 0;}
.column h4{color: #fff;position: absolute;top: 14px;background-color:rgba(0,0,0,0.5);width: 91.5%;padding-left: 5px;font-size:0.8em;padding-top: 5px;}
.column span{font-size:1.3em;}
.column p{color: #fff;position: absolute;top:36px;background-color:rgba(0,0,0,0.5);width: 88%;padding-left: 5px;font-size:1em;}
.column img{border-bottom: 2px solid #da1929;}
.modal-header {border: none;padding: 0px 10px;font-size: 2em;}
.close {opacity: 1;}
.modal-content{background: #fff;border-radius: 0;border-top: 3px solid #da1929;border-bottom:3px solid #da1929;font-size: 0.9em;
    text-align: left;}
.modal-content h1{font-size: 1.3em;}
.modal-content a{text-decoration: none;}
.modal-content ul {list-style: none; padding:0; margin:0;font-size: 1.1em;}
.modal-content li { padding-left: 1em; text-indent: -.7em;color: #6b6b6b}
.modal-content li:before {content: "▪"; color: red; }
.modal-body{padding:20px 1rem 20px 1rem;}
.lg-modal{border: none; border-radius: 5px; min-width: 100%;position: relative;padding: 5px;}
.lightbox-content h1{color: #da1929;padding:10px 25px;}
.lightbox-content h2{color: #0f2b43 ;font-size: 1.2em;margin-left: -10px;}
.lightbox-content h3{color: #0f2b43 ;font-size: 1.7em;padding: 30px 0;}
.lightbox-content span{color: #a1a7af;margin-left: -10px;}
.lightbox-content p{color: #a1a7af;padding:0 25px 20px 25px;font-size: 1.1em;}
.aux-space{padding-top: 20px;}
.mini-bt{color: #6b6b6b;}
.mini-bt:hover{color: #da1929;}

/* SERVICIOS */
.services-box{border-top: 1px solid #da1929;border-left:1px solid #da1929;border-right: 1px solid #da1929; max-width: 75%; 
    text-align: center;margin: 30px auto; padding-bottom: 20px;}
.service-bg{background-image: url('../img/servicios/textura-logo-promocon-558.png');background-repeat: no-repeat;background-position: center;max-width: 850px;}
.left_01{margin-left: -36px;}
.right_01{margin-right: -36px; margin-left: 36px;}
.aux-box-serv{margin:10px 30px;padding-bottom: 10px; text-align: left;}
.aux-box-serv ul {list-style: none; padding:0; margin:0;font-size: 0.89em}
.aux-box-serv li { padding-left: 1em; text-indent: -.7em;}
.aux-box-serv li:before {content: "▪"; color: red; }


.bg-bimbo{    background: url(../img/planta-bimbo-sostenible-promocon.png)no-repeat; 
    height: 352px;
    width: 511px;   
    background-size: cover;
    background-position: center;}
.borde-modal{border:1px solid #da1929;}
.auxtrigger{display:none;}         
.topnav {overflow: hidden;background-color: #f7f7f7;text-transform: uppercase;}

.topnav a {
float: left;
display: block;
color: #0f2b43;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}
.topnav .icon {
display: none;
}
.acc-us{padding-bottom: 30px;}
a:hover {color: #0f2b43;}
.middle-box{margin-left: -3px;}
.margen-cuadros{margin-left: 0px}



/*MEDIA*/
@media (min-width:1370px){
    .main-menu{left:51%;}
}
@media (min-width:992px){
    .modal-lg {max-width: 950px;}
    .aux-size{min-width: 800px !important;}  
    .acc-us img{margin-left: -50px;}  
    .margen-cuadros{margin-left: 35px;}
        
}
@media (min-width:768px) and (max-width:991px){
    .aux-space{padding-top: 50px;}
    .w3-display-bottom{left:41.56% !important;}        
}
@media (min-width:451px) and (max-width:767px){
    .w3-display-bottom{left: 41.56% !important;}
}
@media (max-width:722px){
    .w3-bluecustom{display: none;}
}
@media (max-width:680px){
    .w3-display-bottom{left: 40% !important;}
    .shadow-font{display: none;}
    .cinco p {min-width: 100%}
}
@media (max-width:450px){
    .green-aux{width: 340px;}
    .bg-bimbo{ width: 320px !important;height: 230px;}
    .aux-size{display: none;}    
    .titulo-img img {max-width: 150px;padding: 0;}
    .titulo-img h1{ margin-left: -15px;}
    ._02{margin: 20px auto;}
    .siete img {max-width: 191px;}
    .contact-data{padding: 10px 0 30px 20%;}
    .w3-display-bottom{left:33.56% !important;}  
    .middle-box{margin-left: 39px !important}      
    .dos figcaption {margin: 10px 0;}
}
@media screen and (max-width:450px){    
    .column span {font-size: 1em;}   
    .acc-us{padding-left: 10px !important;} 
    .card {min-width: 100%;}
    
}
@media screen and (max-width:515px){
    .up-footer{display: block;}
    .sub-footer{display: block;}
    .main-footer  {display: block;}
    .main-footer ul {display: block !important;}
}
@media screen and (max-width: 600px) {
    .up-page{margin-top:30px;}
    .auxtrigger{display:block;} 
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
    .alternate-menu{display: none;}
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
    .list-us {padding-left: 0;}
    .list-us li a {font-size: 0.5em}
    .acc-us img {margin-left: -15px;}    
    .middle-box {margin-left: 38px !important;}
    .column h4 {max-width: 89.5%;}
}
@media screen and (max-width: 992px) {    
    .red-square {border: none;}
    .tab-aux p{margin-right: 0;}
}
@media screen and (max-width: 786px) {
    .list-us {padding-left: 0; }
    .acc-us{padding-left: 60px;} 
    .aux-box-5{min-width: 95%;}
    .content img {min-width: 100% !important;}
    .column h4 {width: 91.5%;}
    .modal-dialog {max-width: 670px;}
    .w3-bluecustom{font-size: 0.9em !important;}  
    ._02 h3{font-size: 0.92em;} 
    .middle-box{margin-left: 19px}   
    .left_01{margin: 0;text-align:-webkit-center;text-align: -moz-center;}
    .right_01{margin: 0;text-align:-webkit-center;text-align: -moz-center;}
    .column span {font-size: 1em;}
}
@media (max-width:380px){
    .w3-display-bottom{left:31.56% !important;}
}