@font-face {
    font-family: 'Cabin-Regular';
    src: url(../fonts/Cabin-Regular.otf);
}
body{width:100%; font-family: 'Cabin-Regular'; font-size: 14px;margin: 0 auto;min-height: 100%;}
.fixed-body{max-width:1366px;}
.logo{background-color: #384a64;text-align: center;padding: 15px 0;}
.logo-aux{text-align: center;padding: 15px 0;}
.contacto{background-image: url('../img/contacto/header-promocon-contacto.jpg'); min-width: 100%; min-height: 300px;
    background-repeat: no-repeat; background-position: center;}
.nosotros{background-image: url('../img/nosotros/header-promocon-nosotros.jpg'); min-width: 100%; min-height: 300px;
    background-repeat: no-repeat; background-position: center;} 
.servicios{background-image: url('../img/servicios/header-promocon-servicios.jpg'); min-width: 100%; min-height: 300px;
    background-repeat: no-repeat; background-position: center;}   
.main-menu{position:absolute;z-index: 10;left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%)}
.main-menu ul{list-style-type: none;display: inline-flex;}
.main-menu li{background-color: #f7f7f7;padding: 15px;}
.main-menu li a {color: #384a64;text-align: center;padding: 16px;text-decoration: none;}
.linea{border-right: 1px solid #a1a7af; max-height: 90%; margin: auto 0;}
.up-page{background: #384a64;text-align: center;}
.indicators{margin-top: -22px;}
.uno{background-color: #fff;text-align: center; color: #202f44;font-size: 1.2em;padding-bottom: 40px;padding-top: 40px;}
.uno h1{color: #c5303d; font-size: 1.6em;padding: 30px 0; font-weight: bold;}
.uno h2{color:#384a64; font-size: 1.4em;}
.uno h3{color: #c5303d; font-size: 2.5em;font-weight: bold;margin-bottom: -10px;}
.uno strong{color:#b42d38}
.uno span {color: #b42d38;}
.service-bg{background-image: url('../img/servicios/textura-logo-promocon-558.png');background-repeat: no-repeat;background-position: center;}
._01{border:1px solid #bebebe;padding:0;border-radius: 10px;margin-bottom: 20px;}
._01 h3{color: #c5303d; font-size: 1.6em;text-align: left;padding:15px 0 0 20px;}
._01 p {text-align: left;padding:0 20px;}
.red-box{background: #c5303d;border-radius: 7px;padding: 10px}
.red-box img{width: 28px;}
.dos{background-color: #469504;color:#fff;padding-bottom: 40px;}
.h1-green{color: #469504;padding-bottom: 65px;}
.h1-green h1{font-size: 2.3em;}
.dos p{padding: 20px 0;}
.dos img{max-width:100%;}
.dos figcaption{font-size: 0.85em;max-width: 90%; margin-left: 30px; }
.titulo{padding-top: 20px;text-align: center;}
.tres h1{color: #c5303d; font-size: 1.6em;padding: 5px 10px; font-weight: bold;}
.tres span{color:#384a64; font-size: 0.65em; margin: auto;border-left:1px solid #c5303d;padding-left: 10px;}
.tres h3{color:#c5303d;font-size: 1em;}
.siete h1{color: #c5303d; font-size: 1.6em;padding: 5px 10px; font-weight: bold;text-align: center;}
.siete img{width: 80%;margin: auto;}
.green-aux{background-color:#357302;margin-top: -10px;border-radius: 5px; text-align: center; }
.green-aux img{max-width: 100%;padding: 10px;}
.colibri{background-image: url(../img/colibri-promocon.png);background-position: left;background-repeat: no-repeat;background-size: contain;}
.main-footer{text-align: center;background-color:#384a64;width: 100%;padding-top: 10px;}
.main-footer ul{list-style-type: none;display: inline-flex;}
.main-footer ul li{color: #fff;}
.main-footer ul li a{text-decoration: none; color: #fff;padding: 5px}
.sub-footer{font-size: 0.9em;}
.form-presentation{font-family:'Cabin-Regular';padding: 10px 0 50px; max-width: 100%; margin: 0 auto;background-color: #f8f8f8;color:#bebebe;
     background: url('../img/textura-logo-promocon-771-izquierda.png') -35% no-repeat, url('../img/textura-logo-promocon-771-derecha.png') 135% no-repeat}
.form-presentation input{width: 100%;padding: 5px;margin: 5px;border-radius: 0px; border: 1px solid #bebebe}
.form-presentation textarea{width: 100%;padding: 5px;margin: 5px;border-radius: 0px; border: 1px solid #bebebe}
.contact-data{color:#182d42;line-height: 10px;text-align: left;padding: 10px 0 30px 35%; }
.contact-data p{margin-bottom: 0;}
.contact-data img{border-right:2px solid #c5303d; padding-right: 10px; }
.contact-data span{padding-left: 10px;}
.contact-data-sub{color:#182d42;line-height: 10px;text-align: left;padding: 30px 0 30px 0; }
.contact-data-sub h1{color:#c5303d;font-size: 1.2em;line-height: 0px;}
.contact-data-sub h2{color:#bebebe;font-size: 1.4em;border-bottom: 1px solid #c5303d;padding-bottom: 5px;max-width: 70%}
.contact-data-sub h3{color:#c5303d;font-size: 0.9em;line-height: 20px;}
.contact-data-sub p{margin-bottom: 0;}
.contact-data-sub img{border-right:2px solid #c5303d; padding-right: 10px; }
.contact-data-sub span{padding-left: 10px;}
.separador{max-width: 100%;}
.separador img {max-width: 100%;}
.btn-gn{max-width: 200px;border: none !important;border-radius: 5px !important;padding: 15px !important;}
.btn-red{color:#ffffff;background-color: #b42d38;}
.red-square{border: 2px solid #c5303d;}
.red-square img{position: relative;left: -20px;top: 20px;}