/* @override http://newmediacampaigns.com/css/compiled.css */

/* Eric Meyer Reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

:focus {
outline: 0;
}
a {
color: #000;
}
a:link, a:visited {
text-decoration: none;
}
a:hover, a:active {
text-decoration: none;
}
a img {
border: none;
}
/* Layout */
.boundingBox {
margin: 0 auto;
}
/* Content */

#content {

}
/* Content - Portfolio Listing */

ul#portfolio-filter {
padding: 0;
}
ul#portfolio-filter li {
display: inline;
color:#202f44;
}
ul#portfolio-filter a {
padding: 0.5em 0.2em;
text-decoration: none;
}
ul#portfolio-filter a:hover, ul#portfolio-filter a.current {
color: #888;
}
ul#portfolio-filter a.current {
color: #da1929;
}
ul#portfolio-list {
margin: 36px 0 0 0;
padding: 0;
list-style: none;
min-width: 100%;
}
ul#portfolio-list li {
/* width: 271px;
height: 172px; */
display: block;
float: left;
margin-right: 18px;
overflow: hidden;
}
ul#portfolio-list li a {
display: block;
/* width: 163px;
height: 120px; */
overflow: hidden;
border: 1px solid #CDCDCD;
background: #eee;
}
ul#portfolio-list li p {
font-size: 11px;
line-height: 15px;
color: #AAA;
margin: 5px 0;
}
